The splitting phase

## Preliminaries

In [ ]:
%%bash

rm -rf *.sh
rm -rf warehouse

<br>

### Packages & Libraries

**Packages**

In [ ]:
import subprocess

In [ ]:
if 'google.colab' in str(get_ipython()):
    subprocess.run('wget -q https://raw.githubusercontent.com/exhypotheses/risk/develop/scripts.sh', shell=True)
    subprocess.run('chmod u+x scripts.sh', shell=True)
    subprocess.run('./scripts.sh', shell=True)

<br>

**Libraries**

In [ ]:
import logging
import collections
import os
import zipfile

import numpy as np
import pandas as pd
import dask

<br>

### Logging

In [ ]:
logging.basicConfig(level=logging.INFO, format='%(message)s\n%(asctime)s.%(msecs)03d', datefmt='%Y-%m-%d %H:%M:%S')
logger = logging.getLogger(__name__)

<br>

### Custom

In [ ]:
import config
import risk.functions.split

<br>

Herein, the data set wherein the polytomous categorical variables have undergone t-SNE embedding has been selected.

In [ ]:
import risk.src.representations

<br>

Configurations

In [ ]:
configurations = config.Config()

<br>

### Paths

In [ ]:
if not 'google.colab' in str(get_ipython()):    
    notebooks = os.getcwd()
    parent = str(pathlib.Path(notebooks).parent)
    sys.path.append(parent)
else:
    parent = os.getcwd()

In [ ]:
directory = os.path.join(parent, configurations.warehouse, 'splits', 'scikit')

if not os.path.exists(directory):
    os.makedirs(directory)

<br>
<br>

## For YAML

### Seed

In [ ]:
SEED = 5
np.random.default_rng(seed=SEED)

Generator(PCG64) at 0x7F40258EA750

<br>

### Splitting Function Arguments

In [ ]:
test_size = 0.35
strata = ['reasonable', 'female']

<br>
<br>

## Data

### Read

Reads in the data wherein the polytomous categorical fields have undergone t-SNE embedding; variable `mappings` summarises the $\small{element}$ $\longrightarrow$ $\small{embedding}$ maps per polytomous categorical field.

In [ ]:
representations = risk.src.representations.Representations()
mappings = representations.mappings()
data = representations.data()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   duration_months        1000 non-null   int64
 1   credit_amount          1000 non-null   int64
 2   i_rate_by_disp_inc     1000 non-null   int64
 3   curr_res_since         1000 non-null   int64
 4   age_years              1000 non-null   int64
 5   n_e_credits_this_bank  1000 non-null   int64
 6   n_dependants           1000 non-null   int64
 7   e_chq_acc_status_1     1000 non-null   float64
 8   e_chq_acc_status_2     1000 non-null   float64
 9   credit_history_1       1000 non-null   float64
 10  credit_history_2       1000 non-null   float64
 11  purpose_1              1000 non-null   float64
 12  purpose_2              1000 non-null   float64
 13  savings_acc_class_1    1000 non-null   float64
 14  savings_acc_class_2    1000 non-null   float64
 15  curr_emp_class_1       1000 non-null   float64
 16  curr_emp_class_2       1000 non-null   float64
 17  sex_and_status_1       1000 non-null   float64
 18  sex_and_status_2       1000 non-null   float64
 19  other_debtors_class_1  1000 non-null   float64
 20  other_debtors_class_2  1000 non-null   float64
 21  property_1             1000 non-null   float64
 22  property_2             1000 non-null   float64
 23  other_i_plans_1        1000 non-null   float64
 24  other_i_plans_2        1000 non-null   float64
 25  housing_1              1000 non-null   float64
 26  housing_2              1000 non-null   float64
 27  job_1                  1000 non-null   float64
 28  job_2                  1000 non-null   float64
 29  A192                   1000 non-null   uint8
 30  A201                   1000 non-null   uint8
 31  female                 1000 non-null   uint8
 32  reasonable             1000 non-null   uint8
 33  e_chq_acc_status       1000 non-null   object
 34  credit_history         1000 non-null   object
 35  purpose                1000 non-null   object
 36  savings_acc_class      1000 non-null   object
 37  curr_emp_class         1000 non-null   object
 38  sex_and_status         1000 non-null   object
 39  other_debtors_class    1000 non-null   object
 40  property               1000 non-null   object
 41  other_i_plans          1000 non-null   object
 42  housing                1000 non-null   object
 43  job                    1000 non-null   object
dtypes: float64(22), int64(7), object(11), uint8(4)
memory usage: 316.5+ KB

<br>

And

In [ ]:
attributes = representations.attributes()
target = attributes.target

<br>
<br>

### Structure

**Split**

* Via sklearn.model_selection.train_test_split
* Save the training & testing frames

In [ ]:
SplittingParameters = collections.namedtuple(
    typename='SplittingParameters', field_names=['test_size', 'random_state'])

split = risk.functions.split.Split(splitting=SplittingParameters._make((test_size, SEED)))
training, testing = split.exc(data=data, target=target, strata=strata)

In [ ]:
training.to_csv(path_or_buf=os.path.join(directory, 'training.csv'), 
                header=True, index=False, encoding='UTF-8')
testing.to_csv(path_or_buf=os.path.join(directory, 'testing.csv'), 
               header=True, index=False, encoding='UTF-8')

In [ ]:
with open(os.path.join(directory, 'mappings.json'), 'wb') as disk:
    disk.write(mappings)

<br>
<br>

## End

In [ ]:
%%bash

TZ=UTC-1 date +"%Y-%m-%d %T"

2021-08-04 13:32:11